.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name{
  color:#776E65;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: bolder;
}

.score-bg{
  background-color: #BBADA0;
  padding: 4px 20px 4px 20px;
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text{
  color:#e2d2c3;
}
.number{
  color:white;
}


.newGame{
  background-color: #8F7A66;
  color:white;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 3px;
  width: max-content;
  padding: 4px 10px 4px 10px;
  margin: auto;
}

.score{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:5px;
}

.header{
  margin-top:20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.main{
  width: 450px;
}